@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&family=Montserrat:wght@300;700&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost";
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #F3D9DC;
}

header {
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
}

.container__header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #F3D9DC;
  padding: 0 6%;
}

.container__number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__number i {
  font-size: 3rem;
  color: #777;
  margin: 0 8px;
}

.container__sop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container__sop p {
  font-size: 1rem;
  color: #777;
  margin: 0;
}

.logo img {
  margin-top: 5px;
  width: 200px;
}

.nav__icon a {
  margin: 0 10px;
  font-size: 1.5rem;
}

.nav__icon i {
  font-size: 3rem;
  color: #C78283;
  font-weight: 400;
  transition: all 0.42s ease;
  cursor: pointer;
}

.nav__icon i:hover {
  color: #fff;
}

.nav__icon .bi-person-fill {
  font-size: 3rem;
  padding-right: 1.8rem;
  border-right: 1px solid rgba(199, 130, 131, 0.2196078431);
}

.container__navbar {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #C78283;
  padding: 0 5%;
  height: 80px;
}

#menu__icon {
  font-size: 35px;
  display: none;
  color: #fff;
}

#background__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.navmenu.open {
  left: 0;
}

.navmenu__link {
  color: #fff;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 25px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}
.navmenu__link:hover {
  border-bottom: 2px solid #fff;
}

.navmenu a.active {
  border-bottom: 2px solid #fff;
}

.btn {
  color: #fff;
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 10px;
  font-weight: 500;
  transition: all 0.42s ease;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  border: 1px solid #fff;
}
.btn.show {
  background-color: #fff;
  border: 1px solid #fff;
  color: #C78283;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #C78283;
}

.dropdown-menu {
  background-color: #C78283;
  border: none;
}
.dropdown-menu .dropdown-item {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-family: "Jost";
  color: #fff;
  background-color: #C78283;
}
.dropdown-menu .dropdown-item:hover {
  border-bottom: 2px solid #fff;
}

.container__search form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 3.5rem;
  overflow: hidden;
}

.container__search input::-webkit-search-cancel-button {
  appearance: none;
}

.container__search form input {
  font-size: 1.4rem;
  width: 25rem;
  border-radius: 10px;
  outline: none;
  color: #777;
  border: none;
  padding: 0 2rem;
}

.container__search form button i {
  font-size: 1.3rem;
  padding: 5px;
  border-radius: 10px;
}

.container__search .btn__search {
  border: none;
  background-color: #C78283;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

/*MEDIA QUERYS*/
/*responsive*/
@media screen and (min-width: 240px) and (max-width: 1080px) {
  #menu__icon {
    display: block;
  }
  .navmenu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #F3D9DC;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 70px;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navmenu .navmenu__link {
    text-decoration: none;
    color: #C78283;
  }
  .navmenu .navmenu__link:hover {
    border: none;
  }
  .navmenu .navmenu__link.active {
    border: none;
  }
  .btn {
    color: #C78283;
    border: 1px solid #C78283;
  }
  .btn.show {
    background-color: #C78283;
    color: #F3D9DC;
  }
  .btn:hover {
    background-color: #fff;
    color: #C78283;
    border: 1px solid #C78283;
  }
  .dropdown-menu {
    background-color: #C78283;
    border: none;
  }
  .dropdown-menu .dropdown-item {
    color: #F3D9DC;
  }
}
@media screen and (min-width: 240px) {
  .container__number {
    display: none;
  }
  .logo img {
    width: 120px;
  }
  .nav__icon a {
    margin: 0px;
  }
  .nav__icon i {
    font-size: 2rem;
  }
  .nav__icon .bi-person-fill {
    font-size: 2rem;
    padding-right: 0.2rem;
  }
  .container__search form {
    height: 3rem;
  }
  .container__search form input {
    font-size: 1.1rem;
    width: 6rem;
  }
}
@media screen and (min-width: 300px) {
  .logo img {
    width: 150px;
  }
  .nav__icon a {
    margin: 3px;
  }
  .nav__icon .bi-person-fill {
    padding-right: 0.6rem;
  }
  .container__search form input {
    width: 8rem;
  }
}
@media screen and (min-width: 500px) {
  .logo img {
    width: 170px;
  }
  .nav__icon .bi-person-fill {
    padding-right: 0.8rem;
  }
  .container__search form input {
    width: 15rem;
  }
}
@media screen and (min-width: 700px) {
  .logo img {
    width: 190px;
  }
  .container__number {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__number i {
    font-size: 2.5rem;
  }
  .container__sop p {
    font-size: 0.8rem;
  }
  .nav__icon i {
    margin: 0 5px;
    font-size: 2.5rem;
  }
  .nav__icon .bi-person-fill {
    font-size: 2.5rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .logo img {
    width: 200px;
  }
  .container__number i {
    font-size: 3rem;
  }
  .container__sop p {
    font-size: 1rem;
  }
  .nav__icon a {
    font-size: 1.5rem;
  }
  .nav__icon i {
    font-size: 3rem;
  }
  .nav__icon .bi-person-fill {
    font-size: 3rem;
    padding-right: 1.8rem;
  }
  .container__navbar {
    display: flex;
  }
  .navmenu {
    display: flex;
  }
  .navmenu a {
    font-size: 0.9rem;
  }
  .navmenu__link {
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease-in-out;
  }
  .navmenu__link:hover {
    border-bottom: 2px solid #fff;
  }
  .container__search form input {
    width: 12rem;
  }
}
@media screen and (min-width: 1200px) {
  .navmenu a {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1350px) {
  .container__search form input {
    font-size: 1.4rem;
    width: 20rem;
  }
}
footer {
  width: 100%;
  background-color: #F3D9DC;
}
footer .container__footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  cursor: default;
}
footer .container__footer .box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
footer .container__footer .box__footer .logo__footer img {
  height: 150px;
  margin-top: -40px;
}
footer .container__footer .box__footer .resumen {
  max-width: 350px;
  font-weight: 500;
  color: #777;
  font-size: 15px;
  margin-top: -20px;
}
footer .container__footer .box__footer h4 {
  margin-bottom: 20px;
  color: #C78283;
  font-weight: 700;
  font-size: 20px;
}
footer .container__footer .box__footer a {
  margin-top: 10px;
  color: #777;
  font-weight: 400;
  transition: all 0.42s ease;
  text-decoration: none;
}
footer .container__footer .box__footer a i {
  padding: 0 10px;
  margin-left: -9px;
}
footer .container__footer .box__footer a:hover {
  opacity: 0.8;
  color: #C78283;
}
footer .footer__copy {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  cursor: default;
  color: #777;
  margin-top: 20px;
}

/*BANNER*/
.container__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  background: url(../resources/Diseño\ sin\ título\ \(77\).jpg);
  padding: 0 100px;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  cursor: default;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
}

.titulo__banner {
  font-size: 90px;
  color: #D7BEA8;
  margin-top: 25px;
  font-family: "League Spartan";
}

.subtitulo__banner {
  text-align: center;
  font-size: 35px;
  color: #B49286;
  font-family: "League Spartan";
}

.titulo__span {
  text-align: center;
  color: #C78283;
  font-family: "Libre Baskerville";
  font-style: italic;
  font-size: 60px;
}

.hr__banner {
  width: 80px;
  height: 3px;
  background-color: #B49286;
  opacity: 1;
  border: none;
}

.parrafo__banner {
  text-align: center;
  font-size: 13px;
  color: #B49286;
  font-family: "Libre Baskerville";
  margin: 10px 0;
}

.btn__banner {
  text-decoration: none;
  padding: 1em 2em;
  color: #fff;
  font-size: 1.25em;
  border-radius: 0.1em;
  transition: all 0.42s ease;
  text-align: center;
  border: 3px solid #C78283;
  background: #C78283;
  display: flex;
  flex-direction: column;
}

.btn__banner:hover {
  background-color: #fff;
  color: #C78283;
}

/*BENEFITS*/
.section__benefits {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 10px;
  background-color: #B49286;
}

.container__benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 25px;
  background-color: #F3D9DC;
  color: #C78283;
  padding: 20px;
  min-width: 200px;
  border-radius: 20px;
}

.container__benefits i {
  font-size: 3rem;
  margin-right: 15px;
}

.benefits h3 {
  font-size: 1.5rem;
}

.benefits p {
  font-size: 1.1rem;
  color: #6c6c6c;
}

/*CAROUSEL*/
.section__carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #F3D9DC;
  padding: 50px;
}

#carouselExampleIndicators {
  width: 600px;
  z-index: 0;
}

.carousel-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.42s ease;
}

.carousel-item img {
  width: 600px;
}

.carousel__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
  height: 750.2px;
  padding: 20px;
  background-color: #C78283;
}

.carousel__text h2 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.carousel__text p {
  font-size: 1.4rem;
  max-width: 800px;
  line-height: 2;
  color: #fff;
}

.carousel__text a {
  font-size: 1.5rem;
  padding: 20px 30px;
  text-decoration: none;
  background-color: #F3D9DC;
  border-radius: 20px;
  color: #C78283;
  border: 4px solid #F3D9DC;
  transition: all 0.42s ease;
}

.carousel__text a:hover {
  background-color: #C78283;
  color: #F3D9DC;
}

/*CARDS INDEX*/
.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  font-family: "Jost", sans-serif;
}

.seccion__comida--index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
  background-color: #B49286;
}

.comida__container--index {
  width: 100%;
  display: flex;
  max-width: 1100px;
  gap: 2em;
  padding: 10px 0;
}

.card {
  width: 100%;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3 {
  font-weight: 500;
  margin-bottom: 15px;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #C78283;
  border: 1px solid #C78283;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .contenido a:hover {
  background-color: #C78283;
  color: #fff;
}

/*MAPA*/
.title__map {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0 30px 30px;
  font-weight: 600;
  font-size: 3rem;
  color: #C78283;
  font-family: "Jost", sans-serif;
  background-color: #F3D9DC;
  margin: 0 auto;
}

.seccion__mapa {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "mapa__container mapa__container parrafo__mapa" "mapa__container mapa__container parrafo__mapa" "mapa__container mapa__container parrafo__mapa";
  justify-content: center;
  align-content: center;
  padding: 30px;
  gap: 0 20px;
}

.mapa {
  width: 100%;
  height: 100%;
}

.mapa__container {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #F3D9DC;
  grid-area: mapa__container;
  align-content: center;
}

.parrafo__mapa {
  display: grid;
  width: 100%;
  background-color: #C78283;
  grid-area: parrafo__mapa;
  padding: 20px;
  align-content: space-evenly;
  justify-content: center;
}

.parrafo__mapa h3 {
  font-size: 30px;
  color: #fff;
}

.parrafo__mapa ul {
  font-size: 20px;
  line-height: 2;
  color: #fff;
}

.parrafo__mapa ul li i {
  margin: 0 15px 0 0;
  color: #F3D9DC;
}

.parrafo__mapa p {
  font-size: 20px;
  color: #fff;
}

.parrafo__mapa a {
  font-size: 20px;
  background-color: #F3D9DC;
  width: 200px;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  color: #C78283;
  font-weight: 500;
  border: 3px solid #F3D9DC;
  transition: all 0.42s ease;
  text-decoration: none;
}

.parrafo__mapa a:hover {
  background-color: #C78283;
  color: #F3D9DC;
  border: 3px solid #F3D9DC;
  transition: all 0.42s ease;
}

/*NOVEDADES INDEX*/
.section__novedades {
  width: 100%;
  height: 100%;
  background-color: #B49286;
  padding: 40px 0;
}

.container__novedades {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

.container__novedades form {
  background-color: rgba(243, 217, 220, 0.6039215686);
  padding: 50px;
  max-width: 500px;
  border-radius: 10px;
}

.container__novedades form h3 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #2c2c2c;
}

.container__novedades form input {
  width: 100%;
  height: 3rem;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  padding: 20px;
}

.container__novedades .btn__novedades {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  background-color: #C78283;
  color: #fff;
}

.btn__novedades:hover {
  background-color: #fff;
  color: #C78283;
}

.novedades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.5882352941), rgba(0, 0, 0, 0.5882352941)), url(../resources/Sin\ título5.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
  gap: 20px;
}

.novedades h3 {
  color: #fff;
  font-size: 1.8rem;
  text-transform: capitalize;
  position: relative;
}

.novedades h3::after {
  content: "";
  width: 2.5rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

.novedades a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.42s ease;
}

.novedades a:hover {
  color: #B49286;
}

/*BANNER*/
@media screen and (min-width: 240px) {
  .banner {
    padding: 0 0px;
    height: 75vh;
    align-items: center;
    gap: 5px;
  }
  .titulo__banner {
    font-size: 30px;
    margin-top: 10px;
  }
  .subtitulo__banner {
    font-size: 20px;
  }
  .titulo__span {
    font-size: 25px;
  }
  .parrafo__banner {
    font-size: 13px;
  }
  .btn__banner {
    padding: 1em 1em;
    font-size: 1em;
  }
}
@media screen and (min-width: 350px) {
  .banner {
    padding: 0 0px;
    height: 80vh;
    width: 100vw;
  }
  .titulo__banner {
    font-size: 50px;
  }
  .subtitulo__banner {
    font-size: 30px;
  }
  .titulo__span {
    font-size: 40px;
  }
  .parrafo__banner {
    font-size: 20px;
  }
}
@media screen and (min-width: 540px) {
  .banner {
    height: 100vh;
    width: 100vw;
  }
  .titulo__banner {
    font-size: 70px;
    margin-top: 15px;
  }
  .subtitulo__banner {
    font-size: 35px;
  }
  .titulo__span {
    font-size: 55px;
  }
  .btn__banner {
    padding: 1em 2em;
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1080px) {
  .banner {
    padding: 0 100px;
    align-items: self-start;
  }
  .titulo__banner {
    font-size: 6rem;
    color: #D7BEA8;
    font-family: "League Spartan";
    margin-top: 5px;
  }
  .subtitulo__banner {
    font-size: 2rem;
    color: #B49286;
    font-family: "Libre Baskerville";
  }
  .titulo__span {
    color: #C78283;
    font-family: "Libre Baskerville";
    font-style: italic;
    font-size: 3rem;
    margin-top: -15px;
  }
  .parrafo__banner {
    font-size: 1.3rem;
    color: #B49286;
    font-family: "Libre Baskerville";
    text-align: left;
  }
  hr {
    width: 80px;
    height: 3px;
    background-color: #B49286;
    opacity: 1;
  }
  .btn__banner {
    text-decoration: none;
    padding: 1em 2em;
    color: #fff;
    font-size: 1.25em;
    border-radius: 0.1em;
    transition: all 0.42s ease;
    text-align: center;
    border: 3px solid #C78283;
    background: #C78283;
    display: flex;
    flex-direction: column;
  }
}
/*BENEFITS*/
@media screen and (min-width: 240px) {
  .section__benefits {
    display: grid;
    grid-template-columns: repeat(1, 150px);
    justify-items: center;
    justify-content: center;
  }
  .container__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 25px;
    padding: 30px;
  }
  .container__benefits i {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 200px;
  }
}
@media screen and (min-width: 400px) {
  .section__benefits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0 10px;
    text-align: center;
    align-content: center;
    padding: 25px;
  }
  .container__benefits {
    padding: 10px;
    max-width: 550px;
  }
  .container__benefits i {
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .container__benefits {
    min-width: 525px;
  }
}
@media screen and (min-width: 900px) {
  .section__benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container__benefits {
    min-width: 200px;
  }
}
@media screen and (min-width: 1080px) {
  .container__benefits {
    max-width: 550px;
  }
}
@media screen and (min-width: 1800px) {
  .section__benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }
  .container__benefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px 25px;
  }
  .container__benefits i {
    margin-right: 10px;
  }
}
/*CAROUSEL*/
@media screen and (min-width: 240px) {
  .section__carousel {
    padding: 0;
    margin: 30px 0;
  }
  .carousel__text {
    max-width: 600px;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .carousel__text {
    gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel__text p {
    margin: 12px 0;
  }
}
/*CARDS INDEX*/
@media screen and (min-width: 240px) {
  .titulos {
    font-size: 2.5rem;
    margin: 0;
  }
  .seccion__comida--index {
    padding: 40px;
  }
  .comida__container--index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 200px;
  }
  .card img {
    height: 250px;
  }
}
@media screen and (min-width: 400px) {
  .titulos {
    font-size: 3rem;
  }
  .card {
    width: 350px;
  }
  .card img {
    height: 450px;
  }
}
@media screen and (min-width: 640px) {
  .card {
    width: 400px;
  }
  .card img {
    height: 500px;
  }
}
@media screen and (min-width: 1115px) {
  .comida__container--index {
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 100%;
  }
  .card img {
    height: 400px;
  }
}
/*MAPA*/
@media screen and (min-width: 240px) {
  .title__map {
    font-size: 2.5rem;
  }
  .seccion__mapa {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 300px);
    grid-template-areas: "mapa__container mapa__container mapa__container" "mapa__container mapa__container mapa__container" "parrafo__mapa parrafo__mapa parrafo__mapa" "parrafo__mapa parrafo__mapa parrafo__mapa";
    padding: 0px;
  }
  .mapa {
    height: 350px;
  }
  .mapa__container {
    height: 350px;
  }
  .parrafo__mapa {
    padding: 30px 25px;
    justify-content: flex-start;
    justify-items: left;
    text-align: left;
    gap: 20px;
  }
  .parrafo__mapa h3 {
    font-size: 25px;
  }
  .parrafo__mapa ul {
    font-size: 15px;
    line-height: 2;
    padding: 0;
  }
  .parrafo__mapa ul li i {
    margin: 0 10px 0 0;
  }
  .parrafo__mapa p {
    font-size: 15px;
  }
  .parrafo__mapa a {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) {
  .title__map {
    font-size: 3rem;
  }
  .seccion__mapa {
    padding: 30px;
  }
  .parrafo__mapa {
    padding: 30px 40px;
  }
  .parrafo__mapa h3 {
    font-size: 30px;
  }
  .parrafo__mapa ul {
    font-size: 20px;
  }
  .parrafo__mapa p {
    font-size: 20px;
  }
  .parrafo__mapa a {
    font-size: 20px;
  }
}
@media screen and (min-width: 844px) {
  .seccion__mapa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "mapa__container mapa__container parrafo__mapa" "mapa__container mapa__container parrafo__mapa" "mapa__container mapa__container parrafo__mapa";
    justify-content: center;
    align-content: center;
  }
  .mapa {
    height: 600px;
  }
  .mapa__container {
    height: 600px;
  }
  .parrafo__mapa {
    padding: 20px;
  }
  .parrafo__mapa h3 {
    font-size: 25px;
  }
  .parrafo__mapa ul {
    font-size: 15px;
  }
  .parrafo__mapa p {
    font-size: 15px;
  }
  .parrafo__mapa a {
    font-size: 15px;
  }
}
@media screen and (min-width: 1291px) {
  .parrafo__mapa h3 {
    font-size: 30px;
  }
  .parrafo__mapa ul {
    font-size: 20px;
  }
  .parrafo__mapa p {
    font-size: 20px;
  }
  .parrafo__mapa a {
    font-size: 20px;
  }
}
/*NOVEDADES INDEX*/
@media screen and (min-width: 240px) {
  .novedades {
    text-align: center;
  }
  .novedades h3 {
    font-size: 1.5rem;
  }
  .novedades a {
    font-size: 1.2rem;
  }
  .container__novedades form {
    padding: 30px;
  }
  .container__novedades form h3 {
    font-size: 1.3rem;
  }
  .container__novedades form input {
    height: 2rem;
  }
}
@media screen and (min-width: 400px) {
  .section__novedades {
    padding: 40px 0;
  }
  .container__novedades form {
    padding: 50px;
  }
  .container__novedades form h3 {
    font-size: 1.8rem;
  }
  .container__novedades form input {
    height: 3rem;
  }
  .novedades h3 {
    font-size: 1.8rem;
  }
  .novedades a {
    font-size: 1.4rem;
  }
}
.text__products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 40px 40px;
  width: 100%;
  background-color: rgba(197, 175, 178, 0.8588235294);
  border-bottom: 2px solid rgba(197, 175, 178, 0.8588235294);
}

.text__products h1 {
  font-size: 50px;
  color: #fff;
  margin: 0 0 5px 0;
  font-family: "League Spartan";
}

.text__products p {
  font-size: 23px;
  max-width: 70%;
  color: #fff;
}

.text__products i {
  font-size: 50px;
  color: #fff;
}

.hr__products {
  width: 80px;
  height: 2px;
  color: #fff;
  background-color: #fff;
  opacity: 1;
  border: none;
}

.img__products {
  max-width: 100%;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 0 0 0;
  transition: all 0.42s ease;
}

.img__products:hover {
  transform: scale(1.1);
  transition: all 0.42s ease;
}

.container__products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  padding: 75px 80px;
  background: #fff;
}

.products {
  margin: 0 35px;
  border-radius: 10px;
  width: 80%;
  flex: 350px;
  overflow: hidden;
  border: 1px solid #C78283;
}

.products:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info__products {
  padding: 15px 30px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  line-height: 1.5;
  gap: 20px;
}

.info__products h2 {
  font-size: 25px;
  font-weight: 500;
}

.price {
  font-size: 20px;
  font-weight: 400;
}

.btn__product {
  padding: 20px 15px;
  color: #fff;
  background-color: #C78283;
  border: 2px solid #C78283;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.42s ease;
}

.btn__product:hover {
  color: #C78283;
  background-color: #fff;
  transition: all 0.42s ease;
}

.products article {
  overflow: hidden;
}

/*TORTAS/PASTISSERIE/BRUNCH/NOVEDADES*/
@media screen and (min-width: 240px) {
  .text__products h1 {
    margin-top: 5px;
  }
  .text__products p {
    font-size: 20px;
  }
  .text__products i {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .img__products {
    height: 220px;
  }
  .container__products {
    padding: 60px 0px;
  }
  .info__products {
    padding: 20px 15px;
  }
  .info__products h2 {
    font-size: 20px;
  }
  .price {
    font-size: 15px;
  }
  .btn__product {
    padding: 15px 0px;
    font-size: 13px;
  }
}
@media screen and (min-width: 300px) {
  .img__products {
    height: 280px;
  }
}
@media screen and (min-width: 400px) {
  .img__products {
    height: 350px;
  }
}
@media screen and (min-width: 500px) {
  .img__products {
    height: 450px;
  }
  .info__products h2 {
    font-size: 30px;
  }
  .price {
    font-size: 25px;
  }
  .btn__product {
    padding: 20px 0px;
    font-size: 18px;
  }
}
@media screen and (min-width: 700px) {
  .text__products h1 {
    font-size: 50px;
    margin-top: 5px;
  }
  .text__products p {
    font-size: 23px;
  }
  .text__products i {
    font-size: 50px;
  }
  .img__products {
    height: 550px;
  }
  .info__products {
    padding: 20px 15px;
    gap: 30px;
  }
  .info__products h2 {
    font-size: 30px;
  }
  .price {
    font-size: 25px;
  }
  .btn__product {
    padding: 20px 0px;
  }
}
@media screen and (min-width: 890px) {
  .container__products {
    gap: 40px;
    padding: 60px 60px;
  }
  .img__products {
    height: 400px;
  }
  .info__products {
    gap: 20px;
  }
  .info__products h2 {
    font-size: 25px;
  }
  .price {
    font-size: 20px;
  }
  .btn__product {
    padding: 15px 0px;
    font-size: 13px;
  }
}
.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url(../resources/cafffe.jpg);
  background-size: cover;
  margin: 0 auto;
}

.form__container {
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.form__container form {
  width: 100%;
  height: 700px;
  background: rgba(255, 255, 255, 0.633);
  padding: 50px 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.form__container form h1 {
  font-size: 35px;
  text-align: left;
  color: #C78283;
  margin: 0 0 10px 0;
}
.form__container form p {
  font-size: 18px;
  text-align: left;
  color: #777;
  margin: 0 0 20px 0;
}
.form__container form .inputext {
  width: 100%;
  margin: 15px 0;
  padding: 17px 25px;
  outline: none;
  background: #fff;
  border: 1px solid #969696;
  border-radius: 13px;
  max-width: 100%;
  max-height: 100%;
}
.form__container form .form__btn {
  padding: 15px 20px;
  border-radius: 5px;
  background: #C78283;
  border: 2px solid #C78283;
  color: #fff;
  font-size: 20px;
  margin: 20px 0 0 0;
  transition: all 0.42s ease;
  cursor: pointer;
}
.form__container form .form__btn:hover {
  border: 2px solid #C78283;
  background: #fff;
  color: #C78283;
  transition: all 0.42s ease;
}

.faqs {
  min-height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(199, 130, 131, 0.6117647059);
  color: #fff;
  overflow-x: hidden;
  margin: 0 auto;
  border-radius: 10px;
}
.faqs .title__faqs {
  width: 100vw;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Jost";
  color: #fff;
  padding: 50px 0px;
  border-bottom: 1px solid #fff;
}
.faqs .faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  padding: 30px;
  margin: 15px 0;
}
.faqs .faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faqs .faq .question h3 {
  font-size: 1.7rem;
  font-family: "Jost";
  font-weight: 550;
}
.faqs .faq .question .fa-chevron-down {
  transition: transform 0.5s ease-in;
  font-size: 1.3rem;
  color: #fff;
}
.faqs .faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.faqs .faq .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #fff;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active .fa-chevron-down {
  transform: rotate(180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*MEDIA QUERYS*/
/*MEDIA QUERYS*/
@media screen and (min-width: 240px) {
  .form__container form {
    height: 800px;
    border-radius: 0;
  }
  .form__container form h1 {
    font-size: 30px;
  }
  .form__container form p {
    font-size: 17px;
  }
  .faqs .title__faqs {
    padding: 15px;
  }
  .faqs .faq {
    max-width: 860px;
  }
  .faqs .faq .answer p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 500px) {
  .form__container {
    padding: 40px;
  }
  .form__container form {
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .faqs .faq {
    max-width: 700px;
  }
  .faqs .faq .answer p {
    font-size: 1.2rem;
  }
}
.sobrenosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #F3D9DC;
  padding: 50px;
}

.text__sobrenosotros {
  margin: 0 25px;
  padding: 0 25px;
  max-width: 500px;
}

.text__sobrenosotros h2 {
  font-size: 45px;
  margin: 30px 0;
  font-weight: 600;
}

.text__sobrenosotros p {
  font-size: 25px;
}

.sobrenosotros2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  text-align: left;
  background-color: #B49286;
  color: #fff;
}

.gallery {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 350px);
  grid-template-areas: "img1 img1 img1" "img2 img2 img3";
  object-fit: cover;
  overflow: hidden;
  gap: 5px;
  background-color: #fff;
  border: 5px solid #fff;
}

.gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.img1 {
  width: 100%;
  grid-area: img1;
}

.img2 {
  width: 100%;
  grid-area: img2;
}

.img3 {
  width: 100%;
  grid-area: img3;
}

main {
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  display: none;
}

/*MEDIA QUERYS*/
@media screen and (min-width: 240px) {
  .sobrenosotros {
    align-items: center;
  }
  .text__sobrenosotros {
    margin: 0px;
    padding: 0 20px;
    min-width: 250px;
  }
  .text__sobrenosotros h2 {
    font-size: 35px;
    text-align: center;
  }
  .text__sobrenosotros p {
    font-size: 20px;
    text-align: center;
  }
  .sobrenosotros2 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
  }
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 350px);
    grid-template-areas: "img1 img1 img1" "img2 img2 img2" "img3 img3 img3";
  }
}
@media screen and (min-width: 700px) {
  .text__sobrenosotros {
    min-width: 600px;
  }
  .text__sobrenosotros h2 {
    font-size: 45px;
  }
  .text__sobrenosotros p {
    font-size: 28px;
  }
  .sobrenosotros2 {
    padding: 50px;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    grid-template-areas: "img1 img1 img1" "img2 img2 img3";
  }
}
@media screen and (min-width: 1200px) {
  .text__sobrenosotros {
    max-width: 600px;
  }
  .sobrenosotros2 {
    flex-direction: row;
    text-align: left;
  }
  .gallery {
    width: 600px;
  }
}
.btn__whatsapp {
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 30px;
}
.btn__whatsapp .fa-whatsapp {
  font-size: 2.5rem;
  background-color: rgb(49, 196, 49);
  border: 2px solid rgb(49, 196, 49);
  color: #fff;
  border-radius: 100%;
  padding: 10px;
  transition: all 0.42s ease;
  animation: whatsappAnimation 2s ease-in-out;
}
.btn__whatsapp .fa-whatsapp:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(49, 196, 49);
  border: 2px solid rgb(49, 196, 49);
}

@keyframes whatsappAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */