
  .container__carrito {
    position: fixed;
    top: 0;
    right: -460px;
    width: 460px;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
  }

.imagen__carrito{
  width: 50px;
}

.table{
  padding: 30px;
}

.swal2-popup{
  background: #fff;
}

.swal2-styled.swal2-confirm{
  background-color: $primarioOscuro;
}

.swal2-title{
  color: #2c2c2c;
}

.bi-x{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  left: 89%;
  bottom: -3%;
  position: relative;
  padding: 0;
  border-radius:100%;
  cursor: pointer;
  transition: all .42s ease;
  background-color: $primarioOscuro;
  color: #fff;
  border: 2px solid $primarioOscuro;
}

.bi-x:hover{
  background-color: #fff;
  border: 2px solid $primarioOscuro;
  color: $primarioOscuro;
}


.carrito__vacio{
  font-size: 1.5rem;
  color: #777;
  padding: 30px;
}

.container__totalescompra{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    gap: 10px;
    padding: 50px;

}

.div__botones{
  display: flex;
  gap: 10px;
    .btn__product{
      padding: 10px 20px;
    }
}

.form-control{
  width: 60px;
  margin-left:20px;
}

.btn {
  font-size: 1rem;
  color: #fff;
  background-color: $primarioOscuro;
  border: 1px solid $primarioOscuro;
  transition: all .42s ease;
}

.btn:hover{
  color: $primarioOscuro;
  background-color: #fff;
  border: 1px solid $primarioOscuro;
}

#contadorCarrito{
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  color: $secundarioOscuro;
  background-color: #fff;
  border-radius: 100%;
  padding: 1px 8px;
  position: relative;
  border: 2px solid $primarioOscuro;
  right: 25px;
  top: 6px;
}

#carritoLleno{
  font-size: 1.7rem;
  color: #2c2c2c;
  padding: 10px;
}

.table{
  margin-top: 30px;
}


#subtotal,
#iva{
  font-size: 1rem;
  color: #2c2c2c;
}

#total{
  font-size: 1.3rem;
  color: #2c2c2c;
}


@media screen and (max-width: 460px){
  .container__carrito{
    width: 100%;
  }
}

@media screen and (max-width: 699px){
  #contadorCarrito{
    font-size: 0.7rem;
    padding: 0px 5px;
    position: static;
  }
}

@media screen and (min-width: 700px) and (max-width: 1079px){
  #contadorCarrito{
    font-size: 0.7rem;
    padding: 0px 5px;
    position: relative;
    right: 20px;
    top: 6px;
  }
}
