/*BANNER*/
.container__banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    background: url(../resources/Diseño\ sin\ título\ \(77\).jpg);
    padding: 0 100px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    cursor: default;
    text-align: center;
    margin: 0 auto;
    gap: 10px;
}

.titulo__banner{
    font-size: 90px;
    color: $secundarioClaro;
    margin-top: 25px;
    font-family: 'League Spartan';
}


.subtitulo__banner{
    text-align: center;
    font-size: 35px;
    color: $secundarioOscuro;
    font-family: 'League Spartan';
}


.titulo__span{
    text-align: center;
    color: $primarioOscuro;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-size: 60px;
}

.hr__banner{
    width: 80px;
    height: 3px;
    background-color: $secundarioOscuro;
    opacity: 1;
    border: none;
}

.parrafo__banner{
    text-align: center;
    font-size: 13px;
    color: $secundarioOscuro;
    font-family:'Libre Baskerville' ;
    margin: 10px 0;
}


.btn__banner{
    text-decoration: none;
    padding: 1em 2em;
    color: #fff;
    font-size: 1.25em;
    border-radius: 0.1em;
    transition: all .42s ease;
    text-align: center;
    border: 3px solid $primarioOscuro;
    background: $primarioOscuro;
    display: flex;
    flex-direction: column;
}


.btn__banner:hover{
    background-color: #fff;
    color: $primarioOscuro;
}

/*BENEFITS*/
.section__benefits{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0 10px;
    background-color: $secundarioOscuro;
}

.container__benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 25px;
    background-color: $primarioClaro;
    color: $primarioOscuro;
    padding: 20px;
    min-width: 200px;
    border-radius: 20px;

}

.container__benefits i{
    font-size: 3rem;
    margin-right: 15px;
}

.benefits h3{
    font-size: 1.5rem;
}

.benefits p{
    font-size: 1.1rem;
    color: #6c6c6c;
}

/*CAROUSEL*/
.section__carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: $primarioClaro;
    padding: 50px;
}

#carouselExampleIndicators{
    width: 600px;
    z-index: 0;
}

.carousel-item{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: all .42s ease;
}

.carousel-item img{
    width: 600px;
}

.carousel__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:1000px;
    height: 750.2px;
    padding: 20px;
    background-color: $primarioOscuro;
}

.carousel__text h2{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.carousel__text p{
    font-size: 1.4rem;
    max-width: 800px;
    line-height: 2;
    color: #fff;
}

.carousel__text a{
    font-size: 1.5rem;
    padding: 20px 30px;
    text-decoration: none;
    background-color: $primarioClaro;
    border-radius: 20px;
    color: $primarioOscuro;
    border: 4px solid $primarioClaro;
    transition: all .42s ease;
}

.carousel__text a:hover{
    background-color: $primarioOscuro;
    color: $primarioClaro;
}

/*CARDS INDEX*/
.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-weight: 600;
    font-size: 3rem;
    color: #fff;
    font-family: 'Jost', sans-serif;
}

.seccion__comida--index{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    background-color: $secundarioOscuro;
}


.comida__container--index{
    width: 100%;
    display: flex;
    max-width: 1100px;
    gap: 2em;
    padding:10px 0;
}


.card{
    width: 100%;
    margin:10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}


.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.card .contenido{
    padding: 15px;
    text-align: center;
}


.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}


.card .contenido h3{
    font-weight: 500;
    margin-bottom: 15px;
}


.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: $primarioOscuro;
    border: 1px solid $primarioOscuro;
    border-radius: 4px;
    transition: all 400ms ease;
}


.card .contenido a:hover{
    background-color: $primarioOscuro;
    color: #fff;
}

/*MAPA*/
.title__map{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0 30px 30px;
    font-weight: 600;
    font-size: 3rem;
    color: $primarioOscuro;
    font-family: 'Jost', sans-serif;
    background-color: #F3D9DC;
    margin: 0 auto;
}
.seccion__mapa{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
    "mapa__container mapa__container parrafo__mapa"
    "mapa__container mapa__container parrafo__mapa"
    "mapa__container mapa__container parrafo__mapa"
    ;
    justify-content: center;
    align-content: center;
    padding: 30px;
    gap: 0 20px;
}

.mapa{
    width: 100%;
    height: 100%;
}

.mapa__container{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: $primarioClaro;
    grid-area: mapa__container;
    align-content: center;
}


.parrafo__mapa{
   display: grid;
   width: 100%;
   background-color:$primarioOscuro;
   grid-area: parrafo__mapa;
   padding: 20px;
   align-content: space-evenly;
   justify-content: center;
}

.parrafo__mapa h3{
    font-size: 30px;
    color: #fff;
}

.parrafo__mapa ul{
    font-size: 20px;
    line-height: 2;
    color: #fff;
}

.parrafo__mapa ul li i{
    margin: 0 15px 0 0;
    color: $primarioClaro;
}

.parrafo__mapa p{
    font-size: 20px;
    color: #fff;
}

.parrafo__mapa a{
    font-size: 20px;
    background-color: $primarioClaro;
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    color: $primarioOscuro;
    font-weight: 500;
    border: 3px solid $primarioClaro;
    transition: all .42s ease;
    text-decoration: none;
}

.parrafo__mapa a:hover{
    background-color: $primarioOscuro;
    color: $primarioClaro;
    border: 3px solid $primarioClaro;
    transition: all .42s ease;
}

/*NOVEDADES INDEX*/
.section__novedades{
    width: 100%;
    height: 100%;
    background-color: $secundarioOscuro;
    padding: 40px 0;
}

.container__novedades{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
}

.container__novedades form{
    background-color: #f3d9dc9a;
    padding: 50px;
    max-width: 500px;
    border-radius: 10px;
}

.container__novedades form h3{
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #2c2c2c;
}

.container__novedades form input{
    width: 100%;
    height:3rem;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding: 20px;
}

.container__novedades .btn__novedades{
    width: 100%;
    height:3rem;
    border: none;
    border-radius: 10px;
    background-color: $primarioOscuro;
    color: #fff;
}

.btn__novedades:hover{
    background-color: #fff;
    color: $primarioOscuro;
}

.novedades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-image: linear-gradient(100deg, #00000096, #00000096), url(../resources/Sin\ título5.jpg);
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
    gap: 20px;
}

.novedades h3{
    color: #fff;
    font-size: 1.8rem;
    text-transform: capitalize;
    position: relative;
}

.novedades h3::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%)
}

.novedades a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    transition: all .42s ease;
}

.novedades a:hover{
    color:$secundarioOscuro;
}

/*BANNER*/
@media screen and (min-width: 240px){

    .banner{
        padding: 0 0px;
        height: 75vh;
        align-items: center;
        gap: 5px;
    }

    .titulo__banner{
        font-size: 30px;
        margin-top: 10px;
    }

    .subtitulo__banner{
        font-size: 20px;
    }

    .titulo__span{
        font-size: 25px;
    }

    .parrafo__banner{
        font-size: 13px;
    }

    .btn__banner{
        padding: 1em 1em;
        font-size: 1em;
    }
}

@media screen and (min-width: 350px){
    .banner{
        padding: 0 0px;
        height: 80vh;
        width: 100vw;
    }

    .titulo__banner{
        font-size: 50px;
    }

    .subtitulo__banner{
        font-size: 30px;
    }

    .titulo__span{
        font-size: 40px;
    }

    .parrafo__banner{
        font-size: 20px;
    }
}

@media screen and (min-width: 540px){
    .banner{
        height: 100vh;
        width: 100vw;
    }

    .titulo__banner{
        font-size: 70px;
        margin-top: 15px;
    }

    .subtitulo__banner{
        font-size: 35px;
    }

    .titulo__span{
        font-size: 55px;
    }

    .btn__banner{
        padding: 1em 2em;
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1080px){
    .banner{
        padding: 0 100px;
        align-items: self-start;
    }
    
    .titulo__banner{
        font-size: 6rem;
        color: #D7BEA8;
        font-family: 'League Spartan';
        margin-top: 5px;
    }

    .subtitulo__banner{
        font-size: 2rem;
        color: #B49286;
        font-family: 'Libre Baskerville';
    }

    .titulo__span{
        color: #C78283;
        font-family: 'Libre Baskerville';
        font-style:italic;
        font-size: 3rem;
        margin-top: -15px;
    }
    
    .parrafo__banner{
        font-size: 1.3rem;
        color: #B49286;
        font-family:'Libre Baskerville' ;
        text-align: left;
    }

    hr{
        width: 80px;
        height: 3px;
        background-color: #B49286;
        opacity: 1;
    }

    .btn__banner{
        text-decoration: none;
        padding: 1em 2em;
        color: #fff;
        font-size: 1.25em;
        border-radius: 0.1em;
        transition: all .42s ease;
        text-align: center;
        border: 3px solid #C78283;
        background: #C78283;
        display: flex;
        flex-direction: column;
    }
}

/*BENEFITS*/
@media screen and (min-width: 240px){
    .section__benefits{
        display: grid;
        grid-template-columns: repeat(1,150px);
        justify-items: center;
        justify-content: center;
    }
    
    .container__benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 25px;
        padding: 30px;
    }
    
    .container__benefits i{
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 200px;
    }  
}

@media screen and (min-width: 400px){
    .section__benefits{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0 10px;
        text-align: center;
        align-content: center;
        padding: 25px;
    }
    
    .container__benefits{
        padding: 10px;
        max-width: 550px;
    }
    
    .container__benefits i{
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px){
    .container__benefits{
        min-width: 525px;
    }
}

@media screen and (min-width: 900px){
    .section__benefits{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .container__benefits{
        min-width: 200px;
    }
}

@media screen and (min-width: 1080px){
    .container__benefits{
        max-width: 550px;
    }
}

@media screen and (min-width: 1800px){
    .section__benefits{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        text-align: left;
    }
    
    .container__benefits{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 25px 25px;
    }
    
    .container__benefits i{
        margin-right: 10px;
    }
}

/*CAROUSEL*/
@media screen and (min-width: 240px){
    .section__carousel{
        padding: 0;
        margin: 30px 0;
       
    }
    
    .carousel__text{
        max-width: 600px;
        gap: 20px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px){
    .carousel__text{
        gap: 0px;
    }
}

@media screen and (min-width: 1200px){
    .carousel__text p{
        margin: 12px 0;
    }
}

/*CARDS INDEX*/
@media screen and (min-width: 240px){
    .titulos{
        font-size: 2.5rem;
        margin: 0;
    }
    
    .seccion__comida--index{
        padding: 40px;
    }

    .comida__container--index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card{
        width: 200px;
    }
    
    .card img{
        height: 250px;
    }
 }

 @media screen and (min-width: 400px){
    .titulos{
        font-size: 3rem;
    }
 
    .card{
        width: 350px;
    }
    
    .card img{
        height: 450px;
    }
 }

 @media screen and (min-width: 640px){
    .card{
        width: 400px;
    }
    
    .card img{
        height: 500px;
    }
 }

 @media screen and (min-width: 1115px){
    .comida__container--index{
        display: flex;
        flex-direction: row;
    }
    
    .card{
        width: 100%;
    }

    .card img{
        height: 400px;
    }
 }

/*MAPA*/
@media screen and (min-width: 240px){
    .title__map{
        font-size: 2.5rem;
    }

    .seccion__mapa{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 300px);
        grid-template-areas:
       "mapa__container mapa__container mapa__container"
       "mapa__container mapa__container mapa__container"
       "parrafo__mapa parrafo__mapa parrafo__mapa"
       "parrafo__mapa parrafo__mapa parrafo__mapa";
        padding:0px;
    }

    .mapa{
        height: 350px;
    }
    
    .mapa__container{
        height: 350px;
    }
    
    
    .parrafo__mapa{
       padding: 30px 25px;
       justify-content:flex-start;
       justify-items: left;
       text-align: left;
       gap: 20px;
    }
    
    .parrafo__mapa h3{
        font-size: 25px;
    }
    
    .parrafo__mapa ul{
        font-size: 15px;
        line-height: 2;
        padding: 0;
    }
    
    .parrafo__mapa ul li i{
        margin: 0 10px 0 0;
    }
    
    .parrafo__mapa p{
        font-size: 15px;
    }
    
    .parrafo__mapa a{
        font-size: 15px;
    }
}

@media screen and (min-width: 480px){
    .title__map{
        font-size: 3rem;
    }

    .seccion__mapa{
        padding: 30px;
    }

    .parrafo__mapa{
       padding: 30px 40px;
    }
    
    .parrafo__mapa h3{
        font-size: 30px;
    }
    
    .parrafo__mapa ul{
        font-size: 20px;
    }

    .parrafo__mapa p{
        font-size: 20px;
    }
    
    .parrafo__mapa a{
        font-size: 20px;
    }
}

@media screen and (min-width: 844px){
    .seccion__mapa{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas:
        "mapa__container mapa__container parrafo__mapa"
        "mapa__container mapa__container parrafo__mapa"
        "mapa__container mapa__container parrafo__mapa"
        ;
        justify-content: center;
        align-content: center;
    }

    .mapa{
        height: 600px;
    }
    
    .mapa__container{
        height: 600px;
    }
    
    
    .parrafo__mapa{
        padding: 20px;
    }   
    
    .parrafo__mapa h3{
        font-size: 25px;
    }
    
    .parrafo__mapa ul{
        font-size: 15px;
    }
    
    .parrafo__mapa p{
        font-size: 15px;
    }

    .parrafo__mapa a{
        font-size: 15px;
    }
}

@media screen and (min-width: 1291px){
    .parrafo__mapa h3{
        font-size: 30px;
    }
    
    .parrafo__mapa ul{
        font-size: 20px;
    }
    
    .parrafo__mapa p{
        font-size: 20px;
    }
    
    .parrafo__mapa a{
        font-size: 20px;
    }
}

/*NOVEDADES INDEX*/
@media screen and (min-width:240px){
    .novedades{
        text-align: center;
    }
    
    .novedades h3{
        font-size: 1.5rem;
    }

    .novedades a{
        font-size: 1.2rem;
    }

    .container__novedades form{
        padding: 30px;
    }
    
    .container__novedades form h3{
        font-size: 1.3rem;
    }
    
    .container__novedades form input{
        height:2rem;
    }
}

@media screen and (min-width:400px){
    .section__novedades{
        padding: 40px 0;
    }
 
    .container__novedades form{
        padding: 50px;
    }
    
    .container__novedades form h3{
        font-size: 1.8rem;
    }
    
    .container__novedades form input{
        height:3rem;
    }
    
    .novedades h3{
        font-size: 1.8rem;
    }

    .novedades a{
        font-size: 1.4rem;
    }
}