.container__vista{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 60, 60, 0.6); /* Fondo oscuro con transparencia */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Valor alto para estar por encima de otros elementos */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el último valor para controlar la opacidad */
    z-index: 999; /* Asegura que esté por encima de los demás elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

.vista{
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 999;
    padding: 50px;
    border-radius: 40px;
    gap: 30px;
}

#close,
.bi-x-circle-fill{
        font-size: 1.8rem;
        width: 16px;
        height: 16px;
        position: relative;
        left: 98%;
        bottom: 45px;
        color: $primarioOscuro;
        cursor: pointer;
}

.container__img{
    width: 590px;
    height: 370px;
    overflow: hidden;
}

.img__vista{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid $secundarioOscuro;
    
}



.container__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name__product{
    font-size: 2rem;
}

.descripcion{
    font-size: 1.1rem;
    max-width: 90%;
}

.price__product{
    font-size: 1.3rem;
    margin-top: 20px;
    color: #2c2c2c;
}

.container__input{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    border-top: 2px solid #dddddd9f;
}

#plus,
#dash,
.bi-plus-circle-fill,
.bi-dash-circle-fill{
    color: $primarioOscuro;
    font-size:2rem;
    cursor: pointer;
}

.input__cantidad{
    max-width: 40px;
    font-size: 1.2rem;
}

.container__button{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn__compra{
    font-size: 1rem;
    background-color: $primarioOscuro;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $primarioOscuro;
    transition: all .42s ease;
    cursor: pointer;
}

.btn__compra:hover{
    color: $primarioOscuro;
    background-color: #fff;
    border: 2px solid $primarioOscuro;
}

@media screen and (max-width: 850px){
    .vista{
        max-width: 650px;
        padding: 30px;
    }

    .container__img{
        width: 740px;
        height: 340px;
    }

    .name__product{
        font-size: 1.8rem;
    }

    .descripcion{
        font-size: 0.9rem;
    }

    .btn__compra{
        font-size: 0.8rem;
    }

    .bi-x-circle-fill{
        left: 95%;
        bottom: 20px;
    }
}

@media screen and (max-width: 680px){
    .vista{
        max-width: 550px;
        padding: 20px;
    }

    .name__product{
        font-size: 1.6rem;
    }

    .descripcion{
        font-size: 0.8rem;
    }

    .btn__compra{
        font-size: 0.6rem;
    }

    .bi-x-circle-fill{
        left: 90%;
        bottom: 12px;
        font-size: 1.7rem;
    }

    #plus,
    #dash,
    .bi-plus-circle-fill,
    .bi-dash-circle-fill{
        font-size:1.7rem;
    }

    .input__cantidad{
        max-width: 40px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 570px){
    .container__img{
        width: 490px;
        height: 235px;
    }
    .vista{
        max-width: 450px;
        padding: 20px;
        align-items: self-start;
    }
}

@media screen and (max-width: 470px){
    .vista{
        max-width: 300px;
        align-items: self-start;
        flex-direction: column;
    }

    .container__img{
        width: 170px;
        height: 130px;
    }

    .name__product{
        font-size: 1.4rem;
    }

    .descripcion{
        font-size: 0.7rem;
    }

    .bi-x-circle-fill{
        left: 90%;
        bottom: 170px;
    }
}

@media screen and (max-width: 320px){
    .vista{
        max-width: 250px;
        gap: 0px;
    }

    .container__img{
        height: 130px;
    }

    .bi-x-circle-fill{
        bottom: 140px;
    }
}